@mixin btn ($bg,$color) {
  
    color: $color;
    background-color: $bg;
    display: inline-block;
    text-decoration: none;
    padding: 8px 13px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
